@font-face {
    font-family: DinPro;
    src: url(Fonts/DINPro-Regular.ttf);
}

@font-face {
    font-family: DinProBold;
    src: url(Fonts/DINPro-Bold.ttf);
}

body {
    background: #f0f0f0;
    font-family: DinPro;
}

.targetpercentcontainer {
    margin: 0px -35px -35px -35px;
    background: #d5d6da;
    height: 270px;
}

.progg {
    padding: 12px;
    width: 165px;
    height: 165px;
    background-image: url('Images/prog_back4.png');
    background-size: 185px 185px;
    background-position: center;
}

.targetpercent {
    display: inline-block;
    position: relative;
    top: 100px;
    left: 3px;
    z-index: 10;
    width: 155px;
    text-align: center;
    font-family: DinProBold;
    color: #555;
    font-size: 2.5rem;
}

.whitelabel {
    margin-top: 25px;
    height: 30px;
    color: #fff;
    font-family: DinProBold;
    font-size: 1rem;
}

.card {
    min-width: 240px;
}

.targetlabel {
    height: 30px;
    color: #777;
    font-size: 0.9rem;
}

.targetval {
    margin-left: 20px;
    color: #111;
    font-family: DinProBold;
    font-size: 1.25rem;
}

.totalAmount {
    color: #333;
    font-family: DinProBold;
    font-weight: 300;
}

.totalDisplay {
    height: 70px;
    color: #eb212e;
    font-family: DinProBold;
    font-size: 2.5rem;
}

.btn-menu {
    font-size: 12.5px;
    font-family: DinProBold;
    border-radius: 50px !important;
    background: #fff;
    color: #555;
    height: 30px;
    padding: 0px 20px;
    margin: 5px;
}

.deco-none {
    color: inherit;
    text-decoration: inherit;
}

    .deco-none:link {
        color: inherit;
        text-decoration: inherit;
    }

    .deco-none:hover {
        color: inherit;
        text-decoration: inherit;
    }

.black_mobile_gap {
    min-width: 100px;
    margin: 10px 10px;
}

.blackmenu {
    color: #fff;
    font-size: 1.0rem;
    font-family: DinProBold;
    padding: 10px 0;
    background: #000;
}

.menubar {
    color: #fff;
    font-size: 1.05rem;
    font-family: DinPro;
    padding: 10px 0;
    background: #eb212e;
}

.bold-title {
    font-family: DinProBold;
    font-size: 1.4rem;
}

.carrouselcontainer {
    text-align: center;
    margin-top: 30px;
    background: #eb212e;
    height: 170px;
}

.carousel {
    padding: 0 50px 0 50px;
    text-align: center;
    width: 80%;
    height: 170px;
}

.donationcard {
    background: #eb212e;
    height: 170px;
}

.donationcardtitle {
    text-align: left;
    color: #fff;
    font-size: 2rem;
    font-family: DinProBold;
}

.donationcardcontent {
    text-align: left;
    color: #fff;
    font-size: 0.9rem;
    font-family: DinPro;
}
















/*
    code by Iatek LLC 2018 - CC 2.0 License - Attribution required
    code customized by Azmind.com
*/
@media (min-width: 768px) and (max-width: 991px) {
    /* Show 4th slide on md if col-md-4*/
    .carousel-inner .active.col-md-4.carousel-item + .carousel-item + .carousel-item + .carousel-item {
        position: absolute;
        top: 0;
        right: -33.3333%; /*change this with javascript in the future*/
        z-index: -1;
        display: block;
        visibility: visible;
    }
}

@media (min-width: 576px) and (max-width: 768px) {
    /* Show 3rd slide on sm if col-sm-6*/
    .carousel-inner .active.col-sm-6.carousel-item + .carousel-item + .carousel-item {
        position: absolute;
        top: 0;
        right: -50%; /*change this with javascript in the future*/
        z-index: -1;
        display: block;
        visibility: visible;
    }
}

@media (min-width: 576px) {
    .carousel-item {
        margin-right: 0;
    }
    /* show 2 items */
    .carousel-inner .active + .carousel-item {
        display: block;
    }

    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left),
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item {
        transition: none;
    }

    .carousel-inner .carousel-item-next {
        position: relative;
        transform: translate3d(0, 0, 0);
    }
    /* left or forward direction */
    .active.carousel-item-left + .carousel-item-next.carousel-item-left,
    .carousel-item-next.carousel-item-left + .carousel-item,
    .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item {
        position: relative;
        transform: translate3d(-100%, 0, 0);
        visibility: visible;
    }
    /* farthest right hidden item must be also positioned for animations */
    .carousel-inner .carousel-item-prev.carousel-item-right {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        display: block;
        visibility: visible;
    }
    /* right or prev direction */
    .active.carousel-item-right + .carousel-item-prev.carousel-item-right,
    .carousel-item-prev.carousel-item-right + .carousel-item,
    .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item {
        position: relative;
        transform: translate3d(100%, 0, 0);
        visibility: visible;
        display: block;
        visibility: visible;
    }
}
/* MD */
@media (min-width: 768px) {
    /* show 3rd of 3 item slide */
    .carousel-inner .active + .carousel-item + .carousel-item {
        display: block;
    }

    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item + .carousel-item {
        transition: none;
    }

    .carousel-inner .carousel-item-next {
        position: relative;
        transform: translate3d(0, 0, 0);
    }
    /* left or forward direction */
    .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item + .carousel-item {
        position: relative;
        transform: translate3d(-100%, 0, 0);
        visibility: visible;
    }
    /* right or prev direction */
    .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item + .carousel-item {
        position: relative;
        transform: translate3d(100%, 0, 0);
        visibility: visible;
        display: block;
        visibility: visible;
    }
}
/* LG */
@media (min-width: 991px) {
    /* show 4th item */
    .carousel-inner .active + .carousel-item + .carousel-item + .carousel-item {
        display: block;
    }

    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item + .carousel-item + .carousel-item {
        transition: none;
    }
    /* Show 5th slide on lg if col-lg-3 */
    .carousel-inner .active.col-lg-3.carousel-item + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
        position: absolute;
        top: 0;
        right: -25%; /*change this with javascript in the future*/
        z-index: -1;
        display: block;
        visibility: visible;
    }
    /* left or forward direction */
    .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
        position: relative;
        transform: translate3d(-100%, 0, 0);
        visibility: visible;
    }
    /* right or prev direction //t - previous slide direction last item animation fix */
    .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
        position: relative;
        transform: translate3d(100%, 0, 0);
        visibility: visible;
        display: block;
        visibility: visible;
    }
}
